In [1]:
import pandas as pd

In [49]:
df = pd.read_csv("Z:/Training Data For ML/nyc_weather.csv")
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [50]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [51]:
df["Temperature"].min()

20

In [52]:
df["EST"][df["Temperature"] > 30]

0      1/1/2016
1      1/2/2016
2      1/3/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
8      1/9/2016
9     1/10/2016
10    1/11/2016
11    1/12/2016
14    1/15/2016
15    1/16/2016
16    1/17/2016
19    1/20/2016
20    1/21/2016
24    1/25/2016
25    1/26/2016
26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

In [53]:
df["Humidity"].mean()

51.67741935483871

In [54]:
df["WindSpeedMPH"].fillna(0,inplace = True)

In [55]:
df["WindSpeedMPH"].mean()

6.225806451612903

In [56]:
type(df["Humidity"])

pandas.core.series.Series

In [58]:
# df.drop("level_0",axis = 1,inplace = True)
# df

In [62]:
# df.reset_index(inplace = True)
df.tail(30)

,level_0,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,1,1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,2,2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,3,3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,4,4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,5,5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,6,6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,7,7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,8,8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,9,9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,10,10,1/11/2016,33,8,37,29.92,10,0.0,0,1,NaN,289
11,11,11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,12,12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,13,13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,14,14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,15,15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,16,16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,17,17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,18,18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,19,19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,20,20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,21,21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,22,22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,23,23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,24,24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,25,25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,26,26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,27,27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,28,28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,29,29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,30,30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [63]:
df["Events"].fillna("No event", inplace = True)

In [64]:
df

,level_0,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,0,0,1/1/2016,38,23,52,30.03,10,8.0,0,5,No event,281
1,1,1,1/2/2016,36,18,46,30.02,10,7.0,0,3,No event,275
2,2,2,1/3/2016,40,21,47,29.86,10,8.0,0,1,No event,277
3,3,3,1/4/2016,25,9,44,30.05,10,9.0,0,3,No event,345
4,4,4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,No event,333
5,5,5,1/6/2016,33,4,35,30.50,10,4.0,0,0,No event,259
6,6,6,1/7/2016,39,11,33,30.28,10,2.0,0,3,No event,293
7,7,7,1/8/2016,39,29,64,30.20,10,4.0,0,8,No event,79
8,8,8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,9,9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,10,10,1/11/2016,33,8,37,29.92,10,0.0,0,1,No event,289
11,11,11,1/12/2016,35,15,53,29.85,10,6.0,T,4,No event,235
12,12,12,1/13/2016,26,4,42,29.94,10,10.0,0,0,No event,284
13,13,13,1/14/2016,30,12,47,29.95,10,5.0,T,7,No event,266
14,14,14,1/15/2016,43,31,62,29.82,9,5.0,T,2,No event,101
15,15,15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,16,16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,17,17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,18,18,1/19/2016,22,3,42,30.03,10,11.0,0,1,No event,293
19,19,19,1/20/2016,32,15,49,30.13,10,6.0,0,2,No event,302
20,20,20,1/21/2016,31,11,45,30.15,10,6.0,0,1,No event,312
21,21,21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,22,22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,23,23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,24,24,1/25/2016,34,18,54,30.25,10,3.0,0,2,No event,286
25,25,25,1/26/2016,43,29,56,30.03,10,7.0,0,2,No event,244
26,26,26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,27,27,1/28/2016,37,20,51,29.90,10,5.0,0,1,No event,234
28,28,28,1/29/2016,36,21,50,29.58,10,8.0,0,4,No event,298
29,29,29,1/30/2016,34,16,46,30.01,10,7.0,0,0,No event,257
30,30,30,1/31/2016,46,28,52,29.90,10,5.0,0,0,No event,241

In [68]:
X = df.iloc[0:20,0:4]
X

    level_0  index        EST  Temperature
0         0      0   1/1/2016           38
1         1      1   1/2/2016           36
2         2      2   1/3/2016           40
3         3      3   1/4/2016           25
4         4      4   1/5/2016           20
5         5      5   1/6/2016           33
6         6      6   1/7/2016           39
7         7      7   1/8/2016           39
8         8      8   1/9/2016           44
9         9      9  1/10/2016           50
10       10     10  1/11/2016           33
11       11     11  1/12/2016           35
12       12     12  1/13/2016           26
13       13     13  1/14/2016           30
14       14     14  1/15/2016           43
15       15     15  1/16/2016           47
16       16     16  1/17/2016           36
17       17     17  1/18/2016           25
18       18     18  1/19/2016           22
19       19     19  1/20/2016           32

In [82]:
y = df.iloc[20:40,0:8]
y

,level_0,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles
20,20,20,1/21/2016,31,11,45,30.15,10
21,21,21,1/22/2016,26,6,41,30.21,9
22,22,22,1/23/2016,26,21,78,29.77,1
23,23,23,1/24/2016,28,11,53,29.92,8
24,24,24,1/25/2016,34,18,54,30.25,10
25,25,25,1/26/2016,43,29,56,30.03,10
26,26,26,1/27/2016,41,22,45,30.03,10
27,27,27,1/28/2016,37,20,51,29.90,10
28,28,28,1/29/2016,36,21,50,29.58,10
29,29,29,1/30/2016,34,16,46,30.01,10
30,30,30,1/31/2016,46,28,52,29.90,10

In [83]:
pd.concat([X,y])

,level_0,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles
0,0,0,1/1/2016,38,NaN,NaN,NaN,NaN
1,1,1,1/2/2016,36,NaN,NaN,NaN,NaN
2,2,2,1/3/2016,40,NaN,NaN,NaN,NaN
3,3,3,1/4/2016,25,NaN,NaN,NaN,NaN
4,4,4,1/5/2016,20,NaN,NaN,NaN,NaN
5,5,5,1/6/2016,33,NaN,NaN,NaN,NaN
6,6,6,1/7/2016,39,NaN,NaN,NaN,NaN
7,7,7,1/8/2016,39,NaN,NaN,NaN,NaN
8,8,8,1/9/2016,44,NaN,NaN,NaN,NaN
9,9,9,1/10/2016,50,NaN,NaN,NaN,NaN
10,10,10,1/11/2016,33,NaN,NaN,NaN,NaN
11,11,11,1/12/2016,35,NaN,NaN,NaN,NaN
12,12,12,1/13/2016,26,NaN,NaN,NaN,NaN
13,13,13,1/14/2016,30,NaN,NaN,NaN,NaN
14,14,14,1/15/2016,43,NaN,NaN,NaN,NaN
15,15,15,1/16/2016,47,NaN,NaN,NaN,NaN
16,16,16,1/17/2016,36,NaN,NaN,NaN,NaN
17,17,17,1/18/2016,25,NaN,NaN,NaN,NaN
18,18,18,1/19/2016,22,NaN,NaN,NaN,NaN
19,19,19,1/20/2016,32,NaN,NaN,NaN,NaN
20,20,20,1/21/2016,31,11.0,45.0,30.15,10.0
21,21,21,1/22/2016,26,6.0,41.0,30.21,9.0
22,22,22,1/23/2016,26,21.0,78.0,29.77,1.0
23,23,23,1/24/2016,28,11.0,53.0,29.92,8.0
24,24,24,1/25/2016,34,18.0,54.0,30.25,10.0
25,25,25,1/26/2016,43,29.0,56.0,30.03,10.0
26,26,26,1/27/2016,41,22.0,45.0,30.03,10.0
27,27,27,1/28/2016,37,20.0,51.0,29.90,10.0
28,28,28,1/29/2016,36,21.0,50.0,29.58,10.0
29,29,29,1/30/2016,34,16.0,46.0,30.01,10.0
30,30,30,1/31/2016,46,28.0,52.0,29.90,10.0

In [84]:
new =pd.concat([X,y], keys=["one","two"])
new

        level_0  index        EST  Temperature  DewPoint  Humidity  \
one 0         0      0   1/1/2016           38       NaN       NaN
    1         1      1   1/2/2016           36       NaN       NaN
    2         2      2   1/3/2016           40       NaN       NaN
    3         3      3   1/4/2016           25       NaN       NaN
    4         4      4   1/5/2016           20       NaN       NaN
    5         5      5   1/6/2016           33       NaN       NaN
    6         6      6   1/7/2016           39       NaN       NaN
    7         7      7   1/8/2016           39       NaN       NaN
    8         8      8   1/9/2016           44       NaN       NaN
    9         9      9  1/10/2016           50       NaN       NaN
    10       10     10  1/11/2016           33       NaN       NaN
    11       11     11  1/12/2016           35       NaN       NaN
    12       12     12  1/13/2016           26       NaN       NaN
    13       13     13  1/14/2016           30       NaN       NaN
    14       14     14  1/15/2016           43       NaN       NaN
    15       15     15  1/16/2016           47       NaN       NaN
    16       16     16  1/17/2016           36       NaN       NaN
    17       17     17  1/18/2016           25       NaN       NaN
    18       18     18  1/19/2016           22       NaN       NaN
    19       19     19  1/20/2016           32       NaN       NaN
two 20       20     20  1/21/2016           31      11.0      45.0
    21       21     21  1/22/2016           26       6.0      41.0
    22       22     22  1/23/2016           26      21.0      78.0
    23       23     23  1/24/2016           28      11.0      53.0
    24       24     24  1/25/2016           34      18.0      54.0
    25       25     25  1/26/2016           43      29.0      56.0
    26       26     26  1/27/2016           41      22.0      45.0
    27       27     27  1/28/2016           37      20.0      51.0
    28       28     28  1/29/2016           36      21.0      50.0
    29       29     29  1/30/2016           34      16.0      46.0
    30       30     30  1/31/2016           46      28.0      52.0

        Sea Level PressureIn  VisibilityMiles
one 0                    NaN              NaN
    1                    NaN              NaN
    2                    NaN              NaN
    3                    NaN              NaN
    4                    NaN              NaN
    5                    NaN              NaN
    6                    NaN              NaN
    7                    NaN              NaN
    8                    NaN              NaN
    9                    NaN              NaN
    10                   NaN              NaN
    11                   NaN              NaN
    12                   NaN              NaN
    13                   NaN              NaN
    14                   NaN              NaN
    15                   NaN              NaN
    16                   NaN              NaN
    17                   NaN              NaN
    18                   NaN              NaN
    19                   NaN              NaN
two 20                 30.15             10.0
    21                 30.21              9.0
    22                 29.77              1.0
    23                 29.92              8.0
    24                 30.25             10.0
    25                 30.03             10.0
    26                 30.03             10.0
    27                 29.90             10.0
    28                 29.58             10.0
    29                 30.01             10.0
    30                 29.90             10.0

In [85]:
new.loc["two"]

,level_0,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles
20,20,20,1/21/2016,31,11.0,45.0,30.15,10.0
21,21,21,1/22/2016,26,6.0,41.0,30.21,9.0
22,22,22,1/23/2016,26,21.0,78.0,29.77,1.0
23,23,23,1/24/2016,28,11.0,53.0,29.92,8.0
24,24,24,1/25/2016,34,18.0,54.0,30.25,10.0
25,25,25,1/26/2016,43,29.0,56.0,30.03,10.0
26,26,26,1/27/2016,41,22.0,45.0,30.03,10.0
27,27,27,1/28/2016,37,20.0,51.0,29.90,10.0
28,28,28,1/29/2016,36,21.0,50.0,29.58,10.0
29,29,29,1/30/2016,34,16.0,46.0,30.01,10.0
30,30,30,1/31/2016,46,28.0,52.0,29.90,10.0

In [89]:
new_ =pd.merge(new,y)

In [90]:
new_

,level_0,index,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles
0,20,20,1/21/2016,31,11.0,45.0,30.15,10.0
1,21,21,1/22/2016,26,6.0,41.0,30.21,9.0
2,22,22,1/23/2016,26,21.0,78.0,29.77,1.0
3,23,23,1/24/2016,28,11.0,53.0,29.92,8.0
4,24,24,1/25/2016,34,18.0,54.0,30.25,10.0
5,25,25,1/26/2016,43,29.0,56.0,30.03,10.0
6,26,26,1/27/2016,41,22.0,45.0,30.03,10.0
7,27,27,1/28/2016,37,20.0,51.0,29.90,10.0
8,28,28,1/29/2016,36,21.0,50.0,29.58,10.0
9,29,29,1/30/2016,34,16.0,46.0,30.01,10.0
10,30,30,1/31/2016,46,28.0,52.0,29.90,10.0